<!-- arm_description/model.config -->
<?xml version="1.0"?>
<model>
  <name>arm_description</name>
  <version>1.0</version>
  <sdf version="1.9">IGNORE_ME</sdf>   <!-- required but unused -->
  <author>
    <name>omrit</name>
    <email>omrit@example.com</email>
  </author>
  <description>Meshes for the arm rover</description>
</model>